:root {

    /*===== Colors: =====*/
    --unnamed-color-62738a: #62738A;
    --unnamed-color-104994: #104994;
    --unnamed-color-00eeff: #00EEFF;
    --unnamed-color-707070: #707070;
    --unnamed-color-000000: #000000;
    --unnamed-color-888888: #888888;
    --unnamed-color-f2f2f2: #F2F2F2;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-ff805c: #FF805C;
    --unnamed-color-0056ff: #0056FF;
    --unnamed-color-cddaf5: #CDDAF5;
    --unnamed-color-070303: #070303;
    --unnamed-color-00B0FF: #00B0FF;
    --unnamed-color-DFE7F5: #DFE7F5;

    /*===== Font Sizes =====*/
    --header-fontsize: 2.7rem;
    --front-cover-h1: 8rem; 
    --front-cover-p: 3rem;
    --front-cover-button: 2.6rem;
    --button-mobile: 1.8rem;
    --about-us-h1: 2.2rem;
    --about-us-h2: 4.6rem;
    --about-us-h3: 2rem;
    --services-h1: 4.4rem;
    --services-p: 2rem;
    --services-h2: 2.8rem;
    --contact-h1: 6rem;
    --contact-p: 2rem;
    --form-text: 2rem;
    --form-text-privacy: 1.6rem;
    --form-text-button: 2.6rem;
    --elements-contact-size: 2.6rem;
    --networks-text: 3.6rem;

    /*===== Fonts: =====*/
    --OpenSans: 'Open Sans', sans-serif;
    --Dancing-Script: 'Dancing Script', cursive;
    --Roboto: 'Roboto', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 15rem;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

            /*===== Header Section =====*/
.menu-content {
    margin: 0;
    width: 100%;
    height: 21rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 2rem 0.1rem var(--unnamed-color-104994);
    background-color: var(--unnamed-color-ffffff);
    position: fixed;
    top:0;
    right: 0;
    left: 0;
}
.close-menu{
    display: none;
}
nav {
    display: flex;
    justify-content: center;
}

.header-menu {
    display: flex;
    gap: 4rem;
}

.nav-a {
    font-size: var(--header-fontsize);
    width: min-content;
    text-transform: uppercase;
    color: var(--unnamed-color-62738a);
    font-family: var(--OpenSans);
    font-weight: 700;
    position: relative;
}
.nav-a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--unnamed-color-62738a); 
    transition: all 300ms ease-in-out;
  }
.nav-a:hover::after {
    width: 100%;
    left: 0;
  }

            /*===== Main Section front-cover =====*/
.front-cover{
    margin-top: 21rem;
    height: 87rem;
    background-image:linear-gradient(to right, rgba(0, 86, 255, 0.5), rgba(0, 238, 255, 0.5)), url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.front-cover::after{
    position: absolute;
    display: block;
    top: 0;
    -webkit-mask-image: linear-gradient(to top, transparent 25%, red 100%);
    background:linear-gradient(to right, rgba(24, 222, 111, 0.5), rgba(255, 222, 111, 0.5));
}

.front-cover h1{
    font-size: var(--front-cover-h1);
    width:fit-content;
    height: min-content;
    color: var(--unnamed-color-ffffff);
    font-family: var(--Dancing-Script);
    text-align: center;
    line-height: 6rem;
    padding: 2rem;
}

.front-cover p{
    font-size: var(--front-cover-p);
    width: fit-content;
    color: var(--unnamed-color-ffffff);
    font-family: var(--OpenSans);
    font-weight: 400;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 4.2rem;
}

.front-cover a{
    background-color: var(--unnamed-color-ffffff);
    border: 3px solid var(--unnamed-color-ffffff);
    border-radius: 3.8rem;
    color: var(--unnamed-color-00B0FF);
    padding: 0.9rem 4.5rem;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0px;
    font-size: var(--front-cover-button);
    font-family: var(--OpenSans);
    font-weight: 800;
    text-transform: lowercase;
}

.front-cover a:hover{
    background-color: var(--unnamed-color-00B0FF);
    color: var(--unnamed-color-ffffff);
}

#button-for-mobile{
    position: absolute;
    left: 2.8rem;
    bottom: 2.2rem;
    width: 20.1rem;
    height: 4.9rem;
    background-color: var(--unnamed-color-ff805c);
    color: var(--unnamed-color-ffffff);
    text-transform: uppercase;
    font-family: var(--Roboto);
    font-size: var(--button-mobile);
    border: none;
    border-radius: 2.5rem;
}

            /*===== Main section About-Us =====*/
.About-Us{
    width: 100%;
    height: 63.7rem;
    background: transparent linear-gradient(89deg, var(--unnamed-color-ffffff) 0%, var(--unnamed-color-DFE7F5) 100%) 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.9rem;
}

.About-Us-Image{
    margin-top: 5rem;
    width: 66rem;
    height: 58.7rem;
    
}

.About-Us-Text{
    width: 58.2rem;
    height: 40.2rem;
    margin-top: 13.6rem;
}

.About-Us-Text h1{
    width: max-content;
    letter-spacing: 0px;
    text-align: center;
    color: var(--unnamed-color-62738a);
    text-transform: uppercase;
    font-size: var(--about-us-h1);
    font-family: var(--OpenSans);
    font-weight: 600;
}

.About-Us-Text h2{
    width: max-content;
    letter-spacing: 0px;
    text-align: left;
    font-size: var(--about-us-h2);
    color: var(--unnamed-color-0056ff);
    font-family: var(--Dancing-Script);
    padding-bottom: 1.9rem;
}

.About-Us-Text p{
    width: fit-content;
    letter-spacing: 0px;
    text-align: left;
    font-size: var(--about-us-h3);
    color: var(--unnamed-color-62738a);
    font-family: var(--Roboto);
    padding-bottom: 3rem;
}
#verifica{
    display: none;
}

            /*===== Main section services =====*/
.services{
    width: 100%;
    height: 73.9rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.services img{
    width: 14.77rem;
    height: 1.29rem;
    margin-top: 8.5rem;
    margin-bottom: 0.81rem;
}

.services-text h1{
    text-transform: uppercase;
    font-family: var(--OpenSans);
    font-weight: 700;
    font-size: var(--services-h1);
    color: var(--unnamed-color-0056ff);
    margin-bottom: 0.8rem;
    text-align: center;
    letter-spacing: 0px;
}

.services-text p{
    font-family: var(--Roboto);
    font-size: var(--services-p);
    text-align: center;
    letter-spacing: 0px;
    color: var(--unnamed-color-888888);
    width: 85rem;
    height: 6.4rem;
    line-height: 3rem;
}

.services-demonstration{
    display: flex;
    align-items: center;
    gap: 3.1rem;
}

.services-banners{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-banners img{
    margin-top: 3.5rem;
    width: 40.7rem;
    height: 33rem;
    margin-bottom: 0.9rem;
}

.services-banners h2{
    font-family: var(--OpenSans);
    text-align: center;
    letter-spacing: 0px;
    font-weight: 700;
    color: var(--unnamed-color-62738a);
    font-size: var(--services-h2);
}

            /*===== Main section contact =====*/
.contact{
    width: 100%;
    height: 83.2rem;
    background: transparent linear-gradient(269deg, var(--unnamed-color-ffffff) 0%, var(--unnamed-color-DFE7F5) 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
    margin-top: 5.4rem;
    margin-bottom: 2.2rem;
}
.contact-text h1{
    text-align: left;
    letter-spacing: 0px;
    font-size: var(--contact-h1);
    font-family: var(--Dancing-Script);
    font-weight: 700;
    color: var(--unnamed-color-0056ff);
}

.contact-text p{
    text-align: center;
    letter-spacing: 0px;
    font-family: var(--Roboto);
    color: var(--unnamed-color-62738a);
    font-size: var(--contact-p);
    height: 6.4rem;
}

#contact-form{
    width: 75.2rem;
    height: 51.2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-content: flex-start;
}

.form-fields{
    position: relative;
    width: 36rem;
    height: 5.2rem;
    flex: 1 1 auto;
}

.form-fields label{
    position: absolute;
    transition: all 0.3s;
}

.form-fields label, .form-fields input, .form-fields textarea{
    font-family: var(--OpenSans);
    font-weight: 400;
    font-size: var(--form-text);
    color: var(--unnamed-color-62738a);
    padding: 1.1rem 0 1.4rem 1.7rem;
}

.form-fields input, .form-fields textarea{
    width: 100%;
    height: 100%;
    border: none;

}

.form-fields input:focus, .form-fields textarea:focus{
    outline: none;
}

#textarea-field{
    width: 50rem;
    height: 20rem;
}

#check-field{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

input#accept{
    position: relative;
    width: 2.8rem;
    height: 2.8rem;
    appearance: none;
    background-color: var(--unnamed-color-ffffff);
}

input#accept:checked::after{
    justify-content: center;
    content: '\2714';
    font-size: 2rem;
    position: absolute;
    top: 0px;
    left: 0.7rem;
    color: var(--unnamed-color-0056ff);
}
label[for='accept']{
    font-size: var(--form-text-privacy);
    font-family: var(--Roboto);
    color: var(--unnamed-color-62738a);

}

label[for='accept'] a{
    text-decoration: underline;
    color: var(--unnamed-color-62738a);
}

label[for='accept'] a:hover{
    color: var(--unnamed-color-00B0FF);
}

#form-button{
    border: none;
    padding: 0.9rem 5.7rem;
    background-color: var(--unnamed-color-00B0FF);
    color: var(--unnamed-color-ffffff);
    border-radius: 3.8rem;
    text-transform: lowercase;
    font-size: var(--form-text-button);
    font-family: var(--OpenSans);
    font-weight: 800;
}

.active {
    transform: translate(-1.7rem, -4rem);
}

.content-contact{
    display: flex;
    flex-direction: row;
    gap: 11.75rem;
}

.elements-contact a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    height: 6.6rem;
    width: fit-content;
}

.imagem-background{
    padding: 0.5rem;
    width: 6.6rem;
    height: 100%;
    
    border-radius: 3.5rem;
    background-color: var(--unnamed-color-ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
}

.elements-contact a p{
    color: var(--unnamed-color-62738a);
    font-size: var(--elements-contact-size);
    font-family: var(--OpenSans);
    font-weight: 700;
}

            /*===== Main section services =====*/
.maps{
    height: 70.7rem;
}

.maps iframe{
    height: 100%;
    width: 100%;
}

            /*===== FOOTER =====*/
footer{
    height: 42.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64.2rem;
    background: transparent linear-gradient(90deg, var(--unnamed-color-0056ff) 0%, var(--unnamed-color-00eeff) 100%) 0% 0% no-repeat padding-box;
}

.social-networks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

#networks-text h1{
    font-size: var(--networks-text);
    font-family: var(--OpenSans);
    font-weight: 700;
    color: var(--unnamed-color-ffffff);
    text-align: center;
}

#networks-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.45rem;
}

#button-version-mobile{
    display: none;
}





